@font-face {
    font-family: 'UTM Akashi';
    src: url('UTMAkashi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UTM Aptima';
    src: url('UTMAptima-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'UTM Aptima';
    src: url('UTMAptima-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'UTM Aptima';
    src: url('UTMAptima.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UTM Aptima';
    src: url('UTMAptimaBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

